name: Deployment 
on: workflow_dispatch 
jobs:
  setup: 
    runs-on: ubuntu-latest 
    steps: 
      - name: Setup Quarto
        uses: quarto-dev/quarto-actions/setup@v2
      - name: test version
        run: |
          quarto --version
      - name: Setup R 
        uses: r-lib/actions/setup-r@v2
        with:
          r-version: '4.2.0' # Or your desired version
      - name: test version
        run: |
          R --version
      - name: Install packages 
        run: | 
          R -e "install.packages('tidyverse', repos='https://cloud.r-project.org)" 
          R -e "install.packages('NHANES', repos='https://cloud.r-project.org)"
      - name: Setup Surge 
        run: |
          sudo npm install -g surge 
          surge --version


